.dashboard_container {
    -fx-background-color: linear-gradient(to top right, white, #003366);
}

.emp_btn{
    -fx-background-color: #FF8E00;
}

.sites_btn{
    -fx-background-color: #FD7702;
}

.attendance_btn{
    -fx-background-color: #FF5003;
}
.emp_btn:hover, .sites_btn:hover, .attendance_btn:hover{
    -fx-background-color: #9cc6f0;
    -fx-cursor: hand;
}
.logout_btn{
    -fx-background-color: #70a2d4;
}
.logout_btn:hover{
    -fx-background-color: #003F70;
    -fx-text-fill: white;
    -fx-cursor: hand;
}