.login_container {
    -fx-background-color: linear-gradient(to top left, white, #7db6f0);
}

/* Logo container styles */
.login_logo_container {
    -fx-background-color: linear-gradient(to bottom, white, #003366);
    -fx-alignment: top_center;
}

.login_logo_container Text {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-fill: white;
}

/* Login form styles */
.login_form_container {
    -fx-spacing: 15;
    -fx-alignment: top_left;
}

.login_form_container Label {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.input_field {
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
}

.login_form_container Button {
    -fx-background-color: #003366;
    -fx-text-fill: white;
    -fx-font-size: 1.2em;
}

.login_form_container Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #3173b5;
    -fx-text-fill: #003366;
}

.error_lbl {
    -fx-text-fill: red;
}