.sites_container{
    -fx-background-color: linear-gradient(to top right, white, #7db6f0);
}

.back_btn{
    -fx-background-color: #70a2d4;
}

.search_btn{
    -fx-background-color: #003F70;
    -fx-text-fill: white;
}
.back_btn:hover{
    -fx-background-color: #7db6f0;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.search_btn:hover{
    -fx-background-color: #7db6f0;
    -fx-text-fill: #003F70;
    -fx-cursor: hand;
}

.delete_btn{
    -fx-background-color: #4698f1;
    -fx-text-fill: black;
}

.edit_btn{
    -fx-background-color: #6eb0f6;
    -fx-text-fill: black;
}
.delete_btn:hover, .edit_btn:hover{
    -fx-background-color: #f70000;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.edit_btn:hover{
    -fx-background-color: #1860b6;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
